body {
    background-image: url("https://directlinedev.com/media/services/service/background/background_11.wide.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 1%;
}


.carousel {
    margin: 1%;
}

.navbar {
    background-color: #e3f2fd;
    margin-bottom: 1%;
}

.logo {
    max-height: 50%;
    max-width: 50%;

}

.card-logo {
    max-width: 200px;
    max-height: 300px;
}



.card{
    margin: 0.5%;
    border: 1px solid lightgray;
    background-color: white;

}

.content-section, .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}

.overlay { 
    color:#fff;
    position:absolute;
    z-index:12;
    top:50%;
    left:0;
    width:100%;
    text-align:center;
  }

  /* login form */

.login {
    margin-top: 20%;
    color: white;
}


/* profile */

.prof-pic {
    max-width: 70%;
    max-height: 70%;
}

.prof-left {
    padding-top: 1%;
    color: white
}

.prof-right {
    border-left: 1px solid silver;
    padding-top: 2%;
    padding-left: 3%;
    color:white
}
