body {
    background-image: url("https://directlinedev.com/media/services/service/background/background_11.wide.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 1%;
}

.carousel {
    margin: 1%;
}

.navbar {
    background-color: #e3f2fd;
}

.logo {
    max-height: 50%;
    max-width: 50%;

}

.card-logo {
    max-width: 200px;
    max-height: 300px;
}

.card{
    margin: 0.5%;
    border: 1px solid lightgray;
    background-color: white;

}

.content-section, .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}

.overlay { 
    color:#fff;
    position:absolute;
    z-index:12;
    top:50%;
    left:0;
    width:100%;
    text-align:center;
  }